.text_boxes {
  font-family: "Barlow", Sans-serif;
  color: #7a7a7a;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0px;
}

.text_box {
  background: #e8eaee;
  box-sizing: border-box;
  padding: 1.5em;
}

.text_box:nth-child(4n),
.text_box:nth-child(4n+1) {
  background: #e8eaee;
  width: 55%;
}

.text_box:nth-child(4n+2),
.text_box:nth-child(4n+3) {
  background: #ffffff;
  width: 45%;
}
